In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [7]:
#importing file
df = pd.read_csv('/Users/marcellsuprapto/Library/Containers/com.microsoft.Excel/Data/Downloads/vgsales.csv')

In [8]:
df.head()#print the data

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
df.info() #showing the type of data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [13]:
#change the data to integer
#define the dependent variable
Y = df['Global_Sales'].values
Y = Y.astype('int')

In [14]:
#define the independent variable
X = df.drop(labels=['Rank','Name','Platform','Year','Genre','Publisher'],axis = 1 )

In [15]:
#split data into train and test datasets
from sklearn.model_selection import train_test_split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.4, random_state =20)

In [21]:
print(X_train)

       NA_Sales  EU_Sales  JP_Sales  Other_Sales  Global_Sales
4065       0.07      0.31      0.02         0.08          0.49
6283       0.26      0.01      0.00         0.00          0.27
3625       0.39      0.08      0.02         0.06          0.56
2929       0.13      0.40      0.00         0.16          0.70
3971       0.34      0.12      0.00         0.04          0.50
...         ...       ...       ...          ...           ...
1607       0.69      0.00      0.00         0.55          1.24
3915       0.00      0.00      0.48         0.03          0.51
14729      0.00      0.02      0.00         0.01          0.03
4367       0.26      0.14      0.00         0.04          0.45
15715      0.01      0.01      0.00         0.00          0.02

[9958 rows x 5 columns]

In [47]:
from sklearn.ensemble import RandomForestClassifier

In [48]:
model = RandomForestClassifier(n_estimators = 10 , random_state = 30)
model.fit(X_train,  Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=30, verbose=0,
                       warm_start=False)

In [49]:
prediction_test = model.predict(X_test)

In [50]:
print(prediction_test)

[0 0 1 ... 2 0 0]

In [51]:
from sklearn import metrics

In [52]:
print('accuracy', metrics.accuracy_score(Y_test, prediction_test))

accuracy 0.9953313253012048